<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome Icon cdn link is given below. -->
    <script src="https://kit.fontawesome.com/8b9110ef0c.js" crossorigin="anonymous"></script>
    <!-- Google Font cdn link is given below. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!-- Eexternal CSS link is given below. -->
    <link rel="stylesheet" href="./Css/style.css">
    <link rel="shortcut icon" type="x-icon" href="./Image/gontobyo-logo-200h.png">
    <title>Gontobyo</title>
</head>



<%- include("layout/header") %>

    <!-- Header is finished ! -->
    <div class="section-wrapper">
        <section>
            <h1 class="first-number">প্রথম সংখ্যা</h1>

            <% userApprovedStories.sort(function(a, b) { return new Date(b.post_time) - new Date(a.post_time); });
                userApprovedStories.forEach(story=>{ %>

                <div class="content-1">
                    <div class="image-content"> <img src="<%= story.storyimage %>" alt="dynamic-content Image">
                    </div>
                    <a href="/<%=story.story_type%>#<%= story.story_title %>">
                        <div class="text-content">
                            <div class="story-header">
                                <div class="storyTitle-and-postTime">
                                    <h4>
                                        <%= story.story_type%>
                                    </h4>

                                    <% const postDate=new Date(story.post_time); const currentDate=new Date(); const
                                        timeDiff=Math.floor((currentDate - postDate) / (1000 * 60 * 60 * 24)); %>
                                        <h4>
                                            <%= timeDiff %> days ago
                                        </h4>

                                </div>
                                <h1>
                                    <%= story.story_title %>
                                </h1>
                            </div>
                            <div class="story">
                                <p>
                                    <%= story.story %>
                                </p>
                            </div>
                            <div class="authorProfile-and-readMoreLink">
                                <div class="author-profile">
                                    <% let profile_serial=Math.floor(Math.random() * 12) + 1; %>
                                        <div class="author-image"><img src="./Image/profile (<%= profile_serial %>).png"
                                                alt="Author Image">
                                        </div>
                                        <div class="author-name">
                                            <h4>
                                                <%= story.writter_name %>
                                            </h4>
                                        </div>
                                </div>
                                <h4 class="read-more-link">Read More <i class="fa-solid fa-arrow-right"></i>
                                </h4>
                            </div>
                        </div>
                    </a>
                </div>

                <% }) %>

                    <div class="content-1">
                        <div class="image-content"> <img src="./Image/ghost.jpg" alt="Content-1 Image"></div>
                        <a href="/golpo#উইনিপেগের ভূতেরা-১">
                            <div class="text-content">
                                <div class="story-header">
                                    <div class="storyTitle-and-postTime">
                                        <h4>গল্প</h4>
                                        <h4>3 days ago</h4>
                                    </div>
                                    <h1>উইনিপেগের ভূতেরা-১</h1>
                                </div>
                                <div class="story">
                                    <p>বিবর্ণ তূষারের মধ্যে একদমই বের হতে ইচ্ছে করে না। এমনকি ঘরের বাইরে জানালা দিয়ে
                                        তাকালেও
                                        চারিদিকে শুধু নৈরাশ্য, আলস্য, জড়তা ছেয়ে থাকে। আমার এমন ঘরকুনো স্বভাব কখনোই ছিল
                                        না। সবসময়
                                        বন্ধু-বান্ধব সবার সাথে মিলেমিশে আড্ডা দিয়েই সময় পার করেছি। ঠিক করলাম, ইদানিং-এর
                                        এই
                                        ঘরকুনো ভাব অভ্যাসে পরিনত হওয়ার আগেই বাদ দিতে হবে। ইচ্ছে করছে আড্ডা দিতে। চলে
                                        গেলাম বন্ধু
                                        কুদ্দুসের বাসায়। পড়াশুনা, টিভি দেখা, চাকরি; এভাবেই দিন চলে যাওয়ায় আড্ডা দেয়ার
                                        মতো কোন
                                        মজাদার টপিক আসছিলো নাহ। খানিকক্ষণ এটা ওটা নিয়ে কথা বলতে বলতে চা বানিয়ে ফেললাম।
                                        কানাডায়
                                        চা বানানো হলো সবচেয়ে সহজ। পানি ঢালো, চাপাতি দাও, হাফ স্কিমড দুধ; এরপর
                                        মাইক্রোওভেনে দিয়ে
                                        দিলেই হলো। দু’মিনিটে পার্ফেক্ট চা। যদিও শুরু করেছিলাম তাজমহল চা দিয়ে, কিন্তু
                                        ইদানিং রেড
                                        লেবেলের চা-টাই বেশি ভাল লাগছে।</p>
                                </div>
                                <div class="authorProfile-and-readMoreLink">
                                    <div class="author-profile">
                                        <div class="author-image"><img src="./Image/Arko.png" alt="Author Image"></div>
                                        <div class="author-name">
                                            <h4>অর্ক সমুজ্জ্বল দত্ত</h4>
                                        </div>
                                    </div>
                                    <h4 class="read-more-link">Read More <i class="fa-solid fa-arrow-right"></i></h4>
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="content-2">
                        <div class="image-content"> <img src="./Image/neuralink.jpeg" alt="Content-2 Image"></div>
                        <a href="/technology#নিউরালিংক">
                            <div class="text-content">
                                <div class="story-header">
                                    <div class="storyTitle-and-postTime">
                                        <h4>প্রযুক্তি</h4>
                                        <h4>1 week ago</h4>
                                    </div>
                                    <h1>নিউরালিংক</h1>
                                </div>
                                <div class="story">
                                    <p>যতো দিন যাচ্ছে মানুষের মৌলিক চাহিদা গুলোও পরিবর্তন হচ্ছে। পাচঁটির সাথে যোগ হচ্ছে
                                        আরো একটি
                                        চাহিদা, প্রযুক্তি। মৌলিক চাহিদাগুলো যেমন আমাদের জীবনের অপরিহার্য অংশ, তেমনি এই
                                        প্রযুক্তিকেও জীবনের অপরিহার্য অঙ্গতে পরিনত করতে রীতিমতো প্রতিযোগিতায় নেমেছে
                                        প্রযুক্তি
                                        বিশ্বের সেরা কোম্পানিগুলো। তাদের মধ্যে অন্যতম হলো ইলন মাস্কের নিউরালিংক।
                                        নিউরালিংক হলো এমন এক ডিভাইস/চিপ যেটা ব্রেইনে যুক্ত করলে বিভিন্ন জটিল সমস্যা
                                        মানুষ সমাধান
                                        করে ফেলতে পারবে কোন বাস্তবিক অভিজ্ঞতা/অর্জিত জ্ঞান ছাড়াই। ধরা যাক, জটিল কোন
                                        সার্জারির
                                        কথা। একজন চিকিৎসকের দীর্ঘদিন সার্জারি করে অভিজ্ঞতা অর্জন করতে হয় সেই জটিল
                                        সার্জারিতে সফল
                                        হতে। কিন্তু নিউরালিংক যুক্ত করার সাথে সাথে হয়তো যেকোন মানুষ নিমিষেই করে ফেলবে
                                        সেই জটিল
                                        সার্জারি।
                                    </p>
                                </div>
                                <div class="authorProfile-and-readMoreLink">
                                    <div class="author-profile">
                                        <div class="author-image"><img src="./Image/Abesh.png" alt="Author Image"></div>
                                        <div class="author-name">
                                            <h4>এহসান হক</h4>
                                        </div>
                                    </div>
                                    <h4 class="read-more-link">Read More <i class="fa-solid fa-arrow-right"></i></h4>
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="content-3">
                        <div class="image-content"> <img src="./Image/kobita.jpg" alt="Content-3 Image"></div>
                        <a href="/kobita#উৎসব শেষে" style="width: 100%;">
                            <div class="text-content">
                                <div class="story-header">
                                    <div class="storyTitle-and-postTime">
                                        <h4>কবিতা</h4>
                                        <h4>2 weeks ago</h4>
                                    </div>
                                    <h1>উৎসব শেষে</h1>
                                </div>
                                <div class="story">
                                    <p>আমি তোমাকে ডাকবো উৎসবের শেষে, <br>
                                        পাহাড়ের দেশে, কিংবা বালুকাবেলায়। <br>
                                        ভেঙেচুরে ক্ষান্ত হয়ে- <br>
                                        ভিসুভিয়াসকে সাথে নিয়ে, <br>
                                        সান আন্দ্রিয়াসের চেয়েও গভীর চির বুকে। <br>
                                        তুমি আমাকে ডেকো- <br>
                                        আমার অপেক্ষাতেই থেকো, <br>
                                        পড়ন্ত একা বিকেলে যখন- <br>
                                        দুঃখগুলো সাথে নিয়ে পাখিরা উড়ে তা- <br>,
                                        ভাঙ্গা হৃদয়ের স্রোত যখন <br>
                                        ক্রিস্ত দ্যি রেডিমার-ও ডুবিয়ে ফেলে; <br>
                                        আকাশের নীলিমা ছাপিয়ে যখন <br>
                                    </p>
                                </div>
                                <div class="authorProfile-and-readMoreLink">
                                    <div class="author-profile">
                                        <div class="author-image"><img src="./Image/Arko.png" alt="Author Image"></div>
                                        <div class="author-name">
                                            <h4>অর্ক সমুজ্জ্বল দত্ত</h4>
                                        </div>
                                    </div>
                                    <h4 class="read-more-link">Read More <i class="fa-solid fa-arrow-right"></i></h4>
                                </div>
                            </div>
                        </a>
                    </div>

        </section>
    </div>
    <!-- Content Section is finished !  -->

    <%- include("layout/footer") %>

        <!-- Footer Section is finished ! -->

        <script src="./Js/main.js"></script>

        </body>

</html>